---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : "Ubuntu", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$global-font-family : $sans-serif;

.feature__wrapper {
    border-bottom: none !important;
}

.masthead {
    background-color: #0092ca;
}
.greedy-nav{
    background: #0092ca !important;
}

/* Make menu text white */
.greedy-nav a {
    color: white !important;
}

.greedy-nav .visible-links a:before {
    background: white !important;
}

.greedy-nav .hidden-links a {
    color: white !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

